In [1]:
import pandas as pd
import os
import glob
import regex as rx

In [5]:
file = "csv/edrp_elec.csv"

In [6]:
df = pd.read_csv(file)

In [7]:
df

           ANON_ID   ADVANCEDATETIME  HH  ELECKWH
0             5110  15FEB08:12:30:00  25    0.600
1            11617  15FEB08:12:30:00  25    0.250
2             4869  15FEB08:12:30:00  25    0.300
3             9015  15FEB08:12:30:00  25    0.400
4            11628  15FEB08:12:30:00  25    0.850
...            ...               ...  ..      ...
413836033    12306  04JAN10:21:00:00  42    0.460
413836034    11620  14AUG08:19:30:00  39    0.450
413836035     1404  12JUL10:22:30:00  45    0.492
413836036     6552  13AUG09:04:30:00   9    0.014
413836037     7611  18MAY10:18:00:00  36    0.100

[413836038 rows x 4 columns]

In [9]:
df.ANON_ID.unique().shape

(14319,)

In [12]:
df.ADVANCEDATETIME.unique().shape

(47491,)

In [69]:
def format_date(row):
    months = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
          'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
    mon = rx.findall("[A-Z]+", row)[0]
    row = row.replace(mon, f"-{months[mon]}-")
    row = '20' + row[6:8] + row[2:6] + row[:2] + " " + row[9:]
    return row

In [73]:
df.ADVANCEDATETIME = df.ADVANCEDATETIME.apply(format_date)

In [74]:
df.ADVANCEDATETIME = pd.to_datetime(df.ADVANCEDATETIME)
df

           ANON_ID     ADVANCEDATETIME  HH  ELECKWH
0             5110 2008-02-15 12:30:00  25    0.600
1            11617 2008-02-15 12:30:00  25    0.250
2             4869 2008-02-15 12:30:00  25    0.300
3             9015 2008-02-15 12:30:00  25    0.400
4            11628 2008-02-15 12:30:00  25    0.850
...            ...                 ...  ..      ...
413836033    12306 2010-01-04 21:00:00  42    0.460
413836034    11620 2008-08-14 19:30:00  39    0.450
413836035     1404 2010-07-12 22:30:00  45    0.492
413836036     6552 2009-08-13 04:30:00   9    0.014
413836037     7611 2010-05-18 18:00:00  36    0.100

[413836038 rows x 4 columns]

In [75]:
df.ANON_ID = df.ANON_ID.astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413836038 entries, 0 to 413836037
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   ANON_ID          object
 1   ADVANCEDATETIME  datetime64[ns]
 2   HH               int64
 3   ELECKWH          float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 12.3+ GB

In [76]:
df.sort_values('ADVANCEDATETIME', inplace=True)
df

          ANON_ID     ADVANCEDATETIME  HH  ELECKWH
7154        11628 2008-01-08 00:00:00   0    0.500
7155        11628 2008-01-08 00:30:00   1    0.450
7156        11628 2008-01-08 01:00:00   2    0.450
7157        11628 2008-01-08 01:30:00   3    0.500
7158        11628 2008-01-08 02:00:00   4    0.450
...           ...                 ...  ..      ...
413833103    3569 2010-09-30 23:30:00  47    0.250
413833102   10876 2010-09-30 23:30:00  47    0.537
413833101     280 2010-09-30 23:30:00  47    0.055
413833107   16092 2010-09-30 23:30:00  47    0.054
413832787     812 2010-09-30 23:30:00  47    0.203

[413836038 rows x 4 columns]

In [78]:
df.columns

Index(['ANON_ID', 'ADVANCEDATETIME', 'HH', 'ELECKWH'], dtype='object')

In [79]:
final_df = df.pivot_table(index='ADVANCEDATETIME', columns='ANON_ID', values='ELECKWH')
final_df

ANON_ID,1,10,100,10000,10001,10002,10003,10004,10005,10006,...,999,9990,9991,9993,9994,9995,9996,9997,9998,9999
ADVANCEDATETIME,,,,,,,,,,,,,,,,,,,,,
2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-09-30 21:30:00,NaN,0.406,0.341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.127,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:00:00,NaN,0.325,0.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.062,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:30:00,NaN,0.277,0.328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.064,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:00:00,NaN,0.229,0.320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.041,0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:30:00,NaN,0.070,0.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.060,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
final_df = final_df.reset_index()
final_df = final_df.rename_axis(None, axis=1)
final_df

,ADVANCEDATETIME,1,10,100,10000,10001,10002,10003,10004,10005,...,999,9990,9991,9993,9994,9995,9996,9997,9998,9999
0,2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-01-08 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-08 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47486,2010-09-30 21:30:00,NaN,0.406,0.341,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.127,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47487,2010-09-30 22:00:00,NaN,0.325,0.350,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.062,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47488,2010-09-30 22:30:00,NaN,0.277,0.328,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.064,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47489,2010-09-30 23:00:00,NaN,0.229,0.320,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.041,0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47490,2010-09-30 23:30:00,NaN,0.070,0.072,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.060,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
final_df.rename(columns={'ADVANCEDATETIME': 'Timestamp'}, inplace=True)
final_df

,Timestamp,1,10,100,10000,10001,10002,10003,10004,10005,...,999,9990,9991,9993,9994,9995,9996,9997,9998,9999
0,2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-01-08 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-08 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47486,2010-09-30 21:30:00,NaN,0.406,0.341,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.127,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47487,2010-09-30 22:00:00,NaN,0.325,0.350,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.062,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47488,2010-09-30 22:30:00,NaN,0.277,0.328,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.064,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47489,2010-09-30 23:00:00,NaN,0.229,0.320,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.041,0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47490,2010-09-30 23:30:00,NaN,0.070,0.072,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.060,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47491 entries, 0 to 47490
Columns: 14320 entries, Timestamp to 9999
dtypes: datetime64[ns](1), float64(14319)
memory usage: 5.1 GB

In [83]:
final_df.set_index('Timestamp', inplace=True)
final_df

,1,10,100,10000,10001,10002,10003,10004,10005,10006,...,999,9990,9991,9993,9994,9995,9996,9997,9998,9999
Timestamp,,,,,,,,,,,,,,,,,,,,,
2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-09-30 21:30:00,NaN,0.406,0.341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.127,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:00:00,NaN,0.325,0.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.062,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:30:00,NaN,0.277,0.328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.064,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:00:00,NaN,0.229,0.320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.041,0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:30:00,NaN,0.070,0.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.060,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df_copy = final_df.copy()
df_copy

,1,10,100,10000,10001,10002,10003,10004,10005,10006,...,999,9990,9991,9993,9994,9995,9996,9997,9998,9999
Timestamp,,,,,,,,,,,,,,,,,,,,,
2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-09-30 21:30:00,NaN,0.406,0.341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.127,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:00:00,NaN,0.325,0.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.062,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:30:00,NaN,0.277,0.328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.064,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:00:00,NaN,0.229,0.320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.041,0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:30:00,NaN,0.070,0.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.060,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
df_copy.columns = df_copy.columns.astype(int)

In [98]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 47491 entries, 2008-01-08 00:00:00 to 2010-09-30 23:30:00
Columns: 14319 entries, 1 to 9999
dtypes: float64(14319)
memory usage: 5.1 GB

In [102]:
df_copy = df_copy[sorted(df_copy.columns)]
df_copy.columns = df_copy.columns.astype(str)
df_copy

,1,2,3,4,5,6,7,8,9,10,...,16239,16240,16242,16243,16244,16245,16246,16247,16248,16249
Timestamp,,,,,,,,,,,,,,,,,,,,,
2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-09-30 21:30:00,NaN,0.012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.406,...,NaN,0.356,0.344,0.339,0.186,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:00:00,NaN,0.023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.325,...,NaN,0.250,0.297,0.307,0.159,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:30:00,NaN,0.014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.277,...,NaN,0.228,0.318,0.239,0.106,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:00:00,NaN,0.011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,...,NaN,0.171,0.287,0.166,0.040,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:30:00,NaN,0.017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070,...,NaN,0.084,0.170,0.045,0.043,NaN,NaN,NaN,NaN,NaN

In [103]:
hkk.to_csv("/home/user/New_Buildings_Datasets/New-Bs/UK-Smart-trials/processed/30min/UK-smart-trails-30min.csv")

In [104]:
final_df[['1', '2', '3', '10', '16240', '16242', '16243', '16244']]

                      1      2   3     10  16240  16242  16243  16244
Timestamp
2008-01-08 00:00:00 NaN    NaN NaN    NaN    NaN    NaN    NaN    NaN
2008-01-08 00:30:00 NaN    NaN NaN    NaN    NaN    NaN    NaN    NaN
2008-01-08 01:00:00 NaN    NaN NaN    NaN    NaN    NaN    NaN    NaN
2008-01-08 01:30:00 NaN    NaN NaN    NaN    NaN    NaN    NaN    NaN
2008-01-08 02:00:00 NaN    NaN NaN    NaN    NaN    NaN    NaN    NaN
...                  ..    ...  ..    ...    ...    ...    ...    ...
2010-09-30 21:30:00 NaN  0.012 NaN  0.406  0.356  0.344  0.339  0.186
2010-09-30 22:00:00 NaN  0.023 NaN  0.325  0.250  0.297  0.307  0.159
2010-09-30 22:30:00 NaN  0.014 NaN  0.277  0.228  0.318  0.239  0.106
2010-09-30 23:00:00 NaN  0.011 NaN  0.229  0.171  0.287  0.166  0.040
2010-09-30 23:30:00 NaN  0.017 NaN  0.070  0.084  0.170  0.045  0.043

[47491 rows x 8 columns]

In [105]:
df_copy_1h = hkk.resample('1H').sum(min_count=1)
df_copy_1h

,1,2,3,4,5,6,7,8,9,10,...,16239,16240,16242,16243,16244,16245,16246,16247,16248,16249
Timestamp,,,,,,,,,,,,,,,,,,,,,
2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-09-30 19:00:00,NaN,0.027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.800,...,NaN,0.979,0.932,0.860,0.475,NaN,NaN,NaN,NaN,NaN
2010-09-30 20:00:00,NaN,0.026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.758,...,NaN,0.830,1.207,0.681,0.378,NaN,NaN,NaN,NaN,NaN
2010-09-30 21:00:00,NaN,0.031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.745,...,NaN,0.847,0.678,0.720,0.365,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:00:00,NaN,0.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.602,...,NaN,0.478,0.615,0.546,0.265,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:00:00,NaN,0.028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.299,...,NaN,0.255,0.457,0.211,0.083,NaN,NaN,NaN,NaN,NaN

In [106]:
df_copy_1h.to_csv("/home/user/New_Buildings_Datasets/New-Bs/UK-Smart-trials/processed/hourly/UK-smart-trails-1H.csv")

In [2]:
df = pd.read_csv("/home/user/New_Buildings_Datasets/New-Bs/UK-Smart-trials/processed/hourly/UK-smart-trails-1H.csv")
df

,Timestamp,1,2,3,4,5,6,7,8,9,...,16239,16240,16242,16243,16244,16245,16246,16247,16248,16249
0,2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-01-08 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-01-08 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23923,2010-09-30 19:00:00,NaN,0.027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.979,0.932,0.860,0.475,NaN,NaN,NaN,NaN,NaN
23924,2010-09-30 20:00:00,NaN,0.026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.830,1.207,0.681,0.378,NaN,NaN,NaN,NaN,NaN
23925,2010-09-30 21:00:00,NaN,0.031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.847,0.678,0.720,0.365,NaN,NaN,NaN,NaN,NaN
23926,2010-09-30 22:00:00,NaN,0.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.478,0.615,0.546,0.265,NaN,NaN,NaN,NaN,NaN
23927,2010-09-30 23:00:00,NaN,0.028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.255,0.457,0.211,0.083,NaN,NaN,NaN,NaN,NaN

In [3]:
df.set_index("Timestamp", inplace=True)

In [4]:
gh = {}
for id in df.columns:
    gh[id] = (df[id].isna().sum() / df.shape[0]) * 100
gh

{'1': 27.833500501504517,
 '2': 47.75158809762621,
 '3': 36.88147776663323,
 '4': 16.578903376797058,
 '5': 40.45051822133066,
 '6': 65.19558676028085,
 '7': 16.449348044132396,
 '8': 24.903878301571382,
 '9': 71.8530591775326,
 '10': 47.007689735874294,
 '11': 66.11501170177199,
 '12': 47.107990638582415,
 '13': 43.066700100300906,
 '14': 46.94082246740221,
 '15': 26.922433968572385,
 '16': 22.099632230023403,
 '17': 41.261283851554666,
 '18': 27.22751588097626,
 '19': 46.50200601805417,
 '20': 47.141424272818455,
 '21': 13.954363089267805,
 '22': 71.2846873955199,
 '23': 18.066700100300903,
 '24': 24.832831828819792,
 '25': 47.44232698094283,
 '26': 42.14727515880976,
 '27': 46.94082246740221,
 '28': 47.02440655299231,
 '29': 46.94082246740221,
 '30': 59.9172517552658,
 '31': 31.30224005349381,
 '33': 17.32280173854898,
 '34': 14.648110999665665,
 '36': 24.811935807422266,
 '38': 28.21798729521899,
 '39': 47.141424272818455,
 '40': 21.205282514209294,
 '41': 16.787863590772318,
 '42': 22.27933801404213,
 '44': 21.99933132731528,
 '45': 43.96522902039452,
 '46': 47.241725175526575,
 '48': 74.32296890672016,
 '49': 24.072216649949848,
 '50': 25.21731862253427,
 '51': 32.915412905382816,
 '52': 18.79806084921431,
 '53': 27.72066198595787,
 '54': 46.94082246740221,
 '56': 21.97007689735874,
 '57': 43.196255432965565,
 '59': 68.74791039786025,
 '63': 24.870444667335338,
 '64': 31.695085255767303,
 '65': 29.818622534269473,
 '66': 46.945001671681716,
 '67': 28.690237378803076,
 '69': 18.154463390170513,
 '70': 13.787194918087597,
 '71': 46.94082246740221,
 '72': 51.60063523905048,
 '73': 18.033266466064862,
 '74': 17.360414577064525,
 '75': 75.66867268472083,
 '76': 17.786693413574056,
 '77': 47.03276496155132,
 '78': 54.17502507522568,
 '79': 27.31527917084587,
 '80': 40.30424607154798,
 '81': 46.95336008024073,
 '83': 47.63457037780007,
 '84': 27.08124373119358,
 '85': 21.794550317619528,
 '86': 46.970076897358744,
 '87': 17.39384821130057,
 '89': 17.485790705449684,
 '90': 19.399866265463057,
 '91': 27.61200267469074,
 '92': 17.29772651287195,
 '93': 39.60213975259111,
 '94': 25.823303243062522,
 '95': 46.94082246740221,
 '96': 58.11601471079907,
 '98': 34.34470076897359,
 '99': 26.028084252758276,
 '100': 46.94082246740221,
 '101': 46.94082246740221,
 '102': 46.94082246740221,
 '103': 27.900367769976597,
 '104': 46.94082246740221,
 '105': 18.066700100300903,
 '106': 22.204112337011033,
 '107': 71.92410565028419,
 '108': 23.771313941825476,
 '110': 45.026746907388834,
 '111': 34.850384486793715,
 '112': 28.53142761618188,
 '115': 46.94082246740221,
 '116': 27.61618187897024,
 '117': 23.3074222668004,
 '118': 26.320628552323637,
 '119': 41.51203610832497,
 '120': 18.79806084921431,
 '122': 18.08759612169843,
 '123': 61.43012370444667,
 '124': 46.95336008024073,
 '125': 46.94082246740221,
 '126': 47.05366098294885,
 '127': 46.94082246740221,
 '128': 43.367602808425275,
 '129': 15.187228351721831,
 '130': 38.91675025075226,
 '131': 47.141424272818455,
 '133': 52.30692076228686,
 '134': 28.786359077231694,
 '135': 47.06619859578736,
 '136': 48.44115680374457,
 '137': 47.041123370110334,
 '138': 48.7880307589435,
 '139': 18.12102975593447,
 '140': 43.3049147442327,
 '141': 25.447174857907058,
 '142': 47.02440655299231,
 '143': 30.19057171514544,
 '144': 87.094617184888,
 '145': 22.174857907054495,
 '146': 54.350551654964896,
 '147': 77.43229689067202,
 '148': 24.920595118689402,
 '149': 50.196422601136746,
 '150': 15.078569040454697,
 '151': 50.012537612838514,
 '152': 38.36091608157807,
 '153': 46.94082246740221,
 '154': 46.94082246740221,
 '155': 24.74088933467068,
 '156': 25.41374122367101,
 '157': 83.35005015045135,
 '159': 47.94801069876296,
 '160': 64.7609495152123,
 '163': 47.44232698094283,
 '164': 24.715814108993648,
 '165': 40.492310264125706,
 '166': 25.334336342360412,
 '167': 25.810765630224004,
 '168': 74.44834503510532,
 '170': 46.970076897358744,
 '171': 39.09227683049147,
 '172': 40.37947174857907,
 '173': 52.97141424272819,
 '174': 23.37011033099298,
 '175': 90.62186559679037,
 '176': 20.908559010364428,
 '177': 15.947843530591776,
 '178': 16.867268472082916,
 '179': 28.238883316616516,
 '181': 27.060347709796055,
 '182': 38.356736877298566,
 '183': 47.04530257438984,
 '184': 25.11283851554664,
 '185': 17.0971247074557,
 '186': 51.70093614175861,
 '189': 46.94082246740221,
 '190': 24.816115011701772,
 '191': 47.041123370110334,
 '192': 14.246907388833167,
 '193': 23.7086258776329,
 '194': 34.093948512203276,
 '195': 27.382146439317957,
 '196': 26.22450685389502,
 '197': 46.96171848879973,
 '198': 22.23336676696757,
 '200': 48.144433299899696,
 '201': 50.10865931126713,
 '202': 46.94082246740221,
 '203': 25.977933801404212,
 '204': 41.190237378803076,
 '205': 50.894349715814116,
 '207': 46.94082246740221,
 '208': 27.883650952858574,
 '209': 26.207790036776995,
 '210': 19.358074222668005,
 '211': 31.14343029087262,
 '212': 39.518555667001,
 '213': 64.49348044132397,
 '214': 46.94082246740221,
 '215': 46.94082246740221,
 '216': 41.54964894684052,
 '217': 22.270979605483117,
 '218': 32.91959210966232,
 '220': 46.94082246740221,
 '222': 39.56870611835506,
 '223': 23.123537278502173,
 '224': 46.96589769307924,
 '225': 79.37144767636242,
 '226': 53.28067535941157,
 '227': 23.96773654296222,
 '228': 46.6942494149114,
 '229': 47.174857907054495,
 '230': 46.95336008024073,
 '232': 15.776496155132063,
 '233': 41.24874623871615,
 '234': 65.63440320962889,
 '235': 47.041123370110334,
 '236': 40.17886994316282,
 '237': 22.9062186559679,
 '238': 31.97509194249415,
 '239': 23.7086258776329,
 '240': 17.151454363089268,
 '241': 24.970745570043466,
 '242': 84.60381143430291,
 '243': 46.46857238381812,
 '244': 46.94082246740221,
 '245': 46.94082246740221,
 '246': 25.576730190571716,
 '247': 17.28936810431294,
 '248': 46.94082246740221,
 '250': 22.220829154129053,
 '251': 47.80591775325978,
 '252': 88.19374791039786,
 '253': 46.94918087596122,
 '254': 28.121865596790368,
 '255': 47.036944165830825,
 '256': 15.183049147442325,
 '257': 28.33082581076563,
 '258': 28.33082581076563,
 '259': 21.46857238381812,
 '261': 46.94918087596122,
 '262': 47.534269475091946,
 '263': 25.576730190571716,
 '264': 27.520060180541623,
 '265': 46.94082246740221,
 '266': 47.13724506853895,
 '267': 22.751588097626215,
 '269': 26.918254764292875,
 '270': 47.54262788365095,
 '271': 23.650117017719825,
 '272': 46.978435305917756,
 '273': 24.48177866934136,
 '274': 47.02022734871281,
 '277': 29.23353393513875,
 '278': 46.94082246740221,
 '279': 28.385155466399198,
 '280': 46.94082246740221,
 '281': 47.346205282514205,
 '282': 46.94082246740221,
 '283': 46.94082246740221,
 '285': 22.00768973587429,
 '286': 26.078234704112337,
 '287': 22.216649949849547,
 '288': 44.433299899699094,
 '289': 40.2457372116349,
 '290': 43.90672016048144,
 '291': 47.107990638582415,
 '293': 14.079739217652959,
 '294': 24.118187897024406,
 '295': 26.918254764292875,
 '296': 47.88950183884989,
 '297': 46.95336008024073,
 '298': 17.08876629889669,
 '299': 25.3217987295219,
 '300': 47.036944165830825,
 '301': 15.85590103644266,
 '302': 84.29872952189903,
 '303': 47.25008358408559,
 '304': 46.96589769307924,
 '305': 77.83350050150452,
 '306': 16.900702106318956,
 '307': 48.24473420260782,
 '308': 28.518890003343362,
 '309': 90.51738548980273,
 '310': 46.94082246740221,
 '311': 17.807589434971582,
 '312': 49.96656636576396,
 '313': 27.84185891006352,
 '314': 52.67051153460381,
 '315': 46.97425610163825,
 '317': 24.013707790036776,
 '318': 46.94918087596122,
 '319': 48.282347041123366,
 '320': 46.94082246740221,
 '321': 28.24306252089602,
 '322': 59.17335339351387,
 '323': 38.277331995987964,
 '324': 46.94082246740221,
 '325': 59.87963891675025,
 '326': 47.44232698094283,
 '327': 26.462721497826813,
 '328': 18.36342360414577,
 '329': 18.497158141089937,
 '330': 24.48177866934136,
 '331': 41.160982948846545,
 '332': 46.94082246740221,
 '334': 21.67753259779338,
 '335': 26.83467067870278,
 '336': 46.945001671681716,
 '338': 46.94082246740221,
 '339': 75.12537612838516,
 '340': 90.37111334002006,
 '341': 26.859745904379807,
 '342': 15.784854563691072,
 '343': 22.00768973587429,
 '344': 69.64643931795386,
 '345': 46.94082246740221,
 '346': 37.7382146439318,
 '347': 25.29672350384487,
 '348': 18.463724506853897,
 '349': 72.83935138749582,
 '351': 76.9307923771314,
 '352': 46.94082246740221,
 '354': 46.94082246740221,
 '355': 37.591942494149116,
 '356': 46.94082246740221,
 '357': 46.96589769307924,
 '358': 47.53844867937145,
 '359': 99.7617853560682,
 '360': 27.73319959879639,
 '362': 33.42527582748245,
 '363': 67.00100300902709,
 '364': 62.629555332664665,
 '366': 46.95336008024073,
 '367': 22.609495152123035,
 '368': 17.05533266466065,
 '369': 24.01788699431628,
 '370': 25.288365095285858,
 '372': 35.34353059177533,
 '373': 16.649949849548644,
 '374': 14.744232698094283,
 '376': 46.95753928452023,
 '378': 47.041123370110334,
 '379': 99.12654630558342,
 '380': 26.015546639919755,
 '382': 17.54012036108325,
 '383': 48.34921430959545,
 '384': 46.945001671681716,
 '385': 21.90320962888666,
 '386': 44.66733533935139,
 '387': 46.94082246740221,
 '388': 18.998662654630557,
 '391': 31.59478435305918,
 '392': 25.430458040789034,
 '393': 28.932631227014376,
 '394': 46.95336008024073,
 '395': 56.272985623537274,
 '396': 27.933801404212637,
 '397': 28.42694750919425,
 '398': 46.94082246740221,
 '399': 51.613172851889,
 '400': 23.40354396522902,
 '401': 46.95336008024073,
 '403': 25.41792042795052,
 '405': 24.456703443664328,
 '406': 74.82447342026079,
 '407': 26.918254764292875,
 '408': 14.08809762621197,
 '409': 18.706118355065197,
 '410': 57.02942159812772,
 '411': 49.64894684052156,
 '412': 46.95336008024073,
 '413': 17.891173520561683,
 '414': 46.94918087596122,
 '415': 46.94082246740221,
 '416': 27.114677365429625,
 '417': 26.726011367435643,
 '418': 19.002841858910063,
 '419': 46.94082246740221,
 '420': 47.08709461718489,
 '421': 94.01537947174859,
 '422': 47.02858575727182,
 '423': 26.9349715814109,
 '424': 29.463390170511534,
 '425': 47.981444332999,
 '427': 17.581912403878302,
 '429': 46.94082246740221,
 '430': 26.42510865931127,
 '431': 49.44834503510532,
 '433': 41.84637245068539,
 '434': 46.94082246740221,
 '435': 24.628050819124038,
 '436': 71.81544633901706,
 '437': 19.26613172851889,
 '440': 46.94082246740221,
 '441': 47.04530257438984,
 '442': 50.90270812437312,
 '443': 46.96589769307924,
 '445': 14.882146439317953,
 '446': 24.335506519558674,
 '447': 52.344533600802414,
 '448': 26.884821130056835,
 '449': 46.94082246740221,
 '450': 46.94082246740221,
 '451': 26.028084252758276,
 '452': 40.34185891006352,
 '453': 27.23169508525577,
 '454': 17.92042795051822,
 '457': 46.94082246740221,
 '458': 46.94082246740221,
 '459': 26.178535606820464,
 '460': 35.20979605483116,
 '461': 25.77733199598796,
 '462': 27.482447342026077,
 '463': 64.15914409896357,
 '464': 47.141424272818455,
 '465': 24.749247743229688,
 '466': 46.94082246740221,
 '467': 25.008358408559012,
 '468': 46.94082246740221,
 '469': 46.978435305917756,
 '470': 71.46857238381811,
 '471': 21.719324640588432,
 '472': 27.45319291206954,
 '473': 76.86810431293881,
 '474': 27.787529254429955,
 '475': 37.7382146439318,
 '477': 50.21313941825476,
 '478': 62.9012036108325,
 '479': 20.770645269140754,
 '480': 69.51270478100969,
 '481': 46.94082246740221,
 '482': 19.562855232363756,
 '483': 26.37913741223671,
 '484': 46.94082246740221,
 '486': 46.94082246740221,
 '487': 46.94082246740221,
 '488': 47.54680708793046,
 '489': 27.42393848211301,
 '490': 46.94082246740221,
 '491': 22.11216984286192,
 '492': 96.6232029421598,
 '493': 75.71882313607489,
 '494': 46.945001671681716,
 '495': 93.82731527917085,
 '496': 22.92293547308592,
 '498': 23.704446673353395,
 '499': 32.96138415245737,
 '500': 22.705616850551653,
 '501': 14.451688398528919,
 '502': 23.11517886994316,
 '504': 46.94082246740221,
 '505': 47.15396188565697,
 '507': 46.94082246740221,
 '508': 22.801738548980275,
 '509': 43.919257773319956,
 '510': 25.89434971581411,
 '511': 46.95336008024073,
 '512': 46.94918087596122,
 '513': 46.94082246740221,
 '514': 53.57321965897693,
 '515': 28.213808090939484,
 '516': 24.711634904714142,
 '517': 53.79889669007021,
 '518': 46.94082246740221,
 '519': 47.04530257438984,
 '520': 47.47993981945838,
 '521': 15.893513874958206,
 '522': 50.65195586760281,
 '524': 46.945001671681716,
 '525': 46.99515212303577,
 '526': 46.94082246740221,
 '527': 28.85322634570378,
 '528': 23.813105984620528,
 '529': 73.65847542627884,
 '531': 26.03644266131728,
 '532': 41.670845870946174,
 '533': 46.94082246740221,
 '534': 25.463891675025074,
 '535': 46.945001671681716,
 '536': 40.705449682380475,
 '537': 38.24807756603143,
 '539': 24.37311935807422,
 '540': 37.098796389167504,
 '541': 47.429789368104316,
 '543': 27.31945837512538,
 '544': 46.94082246740221,
 '545': 24.118187897024406,
 '546': 46.94082246740221,
 '547': 22.091273821464394,
 '548': 41.817118020728856,
 '549': 46.94082246740221,
 '550': 28.247241725175527,
 '551': 19.980775660314276,
 '552': 34.53276496155132,
 '553': 47.05366098294885,
 '555': 25.21731862253427,
 '556': 93.41775325977933,
 '562': 22.425610163824807,
 '563': 29.42995653627549,
 '564': 46.94082246740221,
 '565': 51.78034102306921,
 '566': 25.300902708124372,
 '568': 24.276997659645602,
 '569': 88.80809093948511,
 '570': 26.68004012036108,
 '571': 46.94082246740221,
 '572': 46.94082246740221,
 '574': 21.213640922768302,
 '575': 46.94082246740221,
 '576': 26.880641925777333,
 '577': 46.94082246740221,
 '579': 53.966064861250416,
 '581': 46.94082246740221,
 '583': 53.60247408893347,
 '584': 47.346205282514205,
 '585': 48.92176529588767,
 '586': 17.665496489468406,
 '587': 73.45369441658308,
 '588': 29.287863590772318,
 '589': 52.74155800735541,
 '590': 47.61785356068204,
 '592': 17.79923102641257,
 '593': 16.2905382815112,
 '594': 45.01838849882983,
 '595': 28.58993647609495,
 '597': 27.286024740889335,
 '598': 18.413574055499833,
 '599': 46.94082246740221,
 '600': 14.786024740889333,
 '601': 46.94082246740221,
 '602': 26.178535606820464,
 '604': 28.13022400534938,
 '605': 25.21731862253427,
 '607': 38.33584085590104,
 '608': 47.02022734871281,
 '609': 18.288197927114677,
 '611': 17.151454363089268,
 '612': 45.05182213306587,
 '613': 28.314108993647608,
 '614': 26.2913741223671,
 '615': 46.94918087596122,
 '616': 45.09779338014042,
 '617': 24.37311935807422,
 '618': 48.64175860916082,
 '619': 23.21547977265129,
 '620': 17.561016382480776,
 '621': 26.71347375459712,
 '622': 47.60949515212304,
 '623': 14.543630892678033,
 '624': 26.74690738883317,
 '625': 56.17268472082916,
 '626': 22.810096957539287,
 '627': 47.86860581745236,
 '628': 44.66733533935139,
 '629': 46.95753928452023,
 '630': 60.030090270812444,
 '631': 46.94082246740221,
 '632': 56.227014376462726,
 '633': 23.382647943831493,
 '634': 28.640086927449016,
 '635': 47.40053493814778,
 '636': 24.318789702440654,
 '637': 17.251755265797392,
 '638': 90.61768639251086,
 '639': 32.14226011367436,
 '640': 25.67703109327984,
 '641': 18.36342360414577,
 '642': 24.2728184553661,
 '643': 30.341023069207623,
 '644': 47.84353059177533,
 '645': 46.94082246740221,
 '646': 48.09428284854564,
 '647': 29.651454363089268,
 '648': 46.945001671681716,
 '649': 43.01237044466733,
 '650': 17.030257438983618,
 '651': 64.89468405215646,
 '652': 46.95336008024073,
 '653': 46.94082246740221,
 '654': 47.082915412905386,
 '655': 47.04530257438984,
 '656': 29.074724172517552,
 '657': 26.533767970578403,
 '658': 39.05466399197593,
 '659': 48.47459043798061,
 '661': 79.33801404212637,
 '662': 17.268472082915412,
 '663': 59.478435305917756,
 '664': 94.70494817786694,
 '666': 50.14209294550318,
 '667': 25.718823136074892,
 '668': 58.600802407221664,
 '669': 83.65513206285523,
 '670': 43.86074891340689,
 '671': 26.216148445336007,
 '672': 60.999665663657645,
 '673': 23.971915747241727,
 '674': 46.94082246740221,
 '675': 26.220327649615516,
 '676': 36.18355065195587,
 '677': 47.141424272818455,
 '678': 26.83049147442327,
 '679': 55.51237044466733,
 '680': 23.211300568371783,
 '681': 47.312771648278165,
 '683': 38.72450685389502,
 '684': 46.96171848879973,
 '685': 27.624540287529253,
 '686': 43.11685055165497,
 '687': 30.249080575058507,
 '689': 46.94082246740221,
 '690': 47.036944165830825,
 '691': 47.141424272818455,
 '692': 24.101471079906386,
 '693': 46.94082246740221,
 '695': 24.786860581745234,
 '696': 46.94082246740221,
 '697': 22.204112337011033,
 '698': 46.94082246740221,
 '699': 47.036944165830825,
 '700': 46.94082246740221,
 '701': 46.94082246740221,
 '702': 14.953192912069541,
 '704': 32.773319959879636,
 '706': 53.28067535941157,
 '707': 33.642594450016716,
 '708': 34.62470745570043,
 '709': 30.926111668338347,
 '710': 85.85757271815446,
 '711': 71.2136409227683,
 '712': 46.94082246740221,
 '714': 17.769976596456036,
 '715': 28.226345703778,
 '716': 47.521731862253425,
 '718': 46.97425610163825,
 '719': 17.126379137412236,
 '720': 47.75158809762621,
 '721': 46.94082246740221,
 '722': 37.0110330992979,
 '723': 25.004179204279502,
 '724': 23.80892678034102,
 '725': 17.151454363089268,
 '726': 47.041123370110334,
 '727': 23.40354396522902,
 '728': 25.02507522567703,
 '729': 24.381477766633232,
 '730': 28.230524908057507,
 '731': 23.069207622868607,
 '732': 46.94082246740221,
 '733': 17.046974256101638,
 '734': 46.94918087596122,
 '735': 24.022066198595788,
 '736': 18.430290872617856,
 '737': 26.985122032764963,
 '739': 22.92293547308592,
 '740': 26.45854229354731,
 '741': 23.712805081912403,
 '742': 87.30775660314276,
 '743': 44.7592778335005,
 '744': 46.94918087596122,
 '745': 26.078234704112337,
 '746': 17.694750919424944,
 '747': 48.00234035439652,
 '748': 36.25041792042795,
 '749': 47.245904379806085,
 '750': 47.13724506853895,
 '751': 26.115847542627886,
 '752': 16.286359077231698,
 '753': 17.995653627549316,
 '754': 46.94082246740221,
 '755': 46.94082246740221,
 '756': 51.09495152123036,
 '758': 47.12052825142093,
 '759': 46.94082246740221,
 '760': 46.94082246740221,
 '761': 17.28100969575393,
 '762': 46.94082246740221,
 '763': 37.061183550651954,
 '764': 26.019725844199264,
 '765': 22.70979605483116,
 '766': 46.94082246740221,
 '767': 25.67703109327984,
 '768': 46.94082246740221,
 '769': 83.04914744232697,
 '770': 23.73370110330993,
 '771': 27.783350050150453,
 '772': 88.0600133734537,
 '774': 46.945001671681716,
 '775': 47.64292878635908,
 '777': 23.729521899030427,
 '778': 38.25643597459044,
 '779': 60.891006352390505,
 '780': 46.94082246740221,
 '781': 25.3217987295219,
 '782': 22.496656636576397,
 '783': 46.94918087596122,
 '784': 46.94082246740221,
 '785': 22.4214309595453,
 '787': 28.489635573386828,
 '788': 72.93129388164493,
 '790': 47.04530257438984,
 '791': 22.40471414242728,
 '792': 28.113507188231363,
 '793': 38.252256770310936,
 '794': 29.70160481444333,
 '795': 43.27566031427616,
 '796': 88.00150451354062,
 '797': 47.041123370110334,
 '798': 46.99933132731528,
 '799': 26.41675025075226,
 '800': 77.13139418254764,
 '803': 87.56268806419257,
 '804': 25.92778335005015,
 '805': 47.54680708793046,
 '806': 17.561016382480776,
 '807': 57.384653961885654,
 '808': 17.59027081243731,
 '809': 21.706787027749915,
 '810': 79.6765295887663,
 '811': 62.78836509528586,
 '812': 52.570210631895684,
 '813': 46.94082246740221,
 '814': 28.48545636910732,
 '816': 27.62036108324975,
 '818': 18.96104981611501,
 '819': 46.94082246740221,
 '820': 46.94082246740221,
 '821': 24.06385824139084,
 '822': 17.586091608157805,
 '823': 16.503677699765966,
 '825': 22.011868940153796,
 '826': 25.718823136074892,
 '827': 30.947007689735873,
 '828': 46.95753928452023,
 '829': 46.94082246740221,
 '830': 28.293212972250082,
 '831': 57.815112002674695,
 '832': 48.04831160147108,
 '833': 25.58090939485122,
 '834': 22.776663323303243,
 '835': 18.309093948512203,
 '836': 18.655967903711137,
 '837': 24.46924105650284,
 '838': 18.004012036108325,
 '839': 47.64292878635908,
 '840': 62.7382146439318,
 '841': 46.94082246740221,

In [6]:
missing_df = pd.DataFrame(gh.items(), columns=['Buildings', 'Percentage'])
missing_df

      Buildings  Percentage
0             1   27.833501
1             2   47.751588
2             3   36.881478
3             4   16.578903
4             5   40.450518
...         ...         ...
14314     16245   28.531428
14315     16246   26.015547
14316     16247   17.652959
14317     16248   32.514209
14318     16249   29.743397

[14319 rows x 2 columns]

In [7]:
missing_df['Missing values'] = missing_df['Buildings'].apply(lambda x: df[x].isna().sum())
missing_df

      Buildings  Percentage  Missing values
0             1   27.833501            6660
1             2   47.751588           11426
2             3   36.881478            8825
3             4   16.578903            3967
4             5   40.450518            9679
...         ...         ...             ...
14314     16245   28.531428            6827
14315     16246   26.015547            6225
14316     16247   17.652959            4224
14317     16248   32.514209            7780
14318     16249   29.743397            7117

[14319 rows x 3 columns]

In [8]:
missing_df['Total values'] = [len(df)] * len(missing_df)
missing_df

      Buildings  Percentage  Missing values  Total values
0             1   27.833501            6660         23928
1             2   47.751588           11426         23928
2             3   36.881478            8825         23928
3             4   16.578903            3967         23928
4             5   40.450518            9679         23928
...         ...         ...             ...           ...
14314     16245   28.531428            6827         23928
14315     16246   26.015547            6225         23928
14316     16247   17.652959            4224         23928
14317     16248   32.514209            7780         23928
14318     16249   29.743397            7117         23928

[14319 rows x 4 columns]

In [9]:
missing_df.to_csv('missing_values.csv', index=False)

In [10]:
missing_df.Percentage.mean()

39.41502703748684

In [11]:
missing_df[missing_df.Percentage > missing_df.Percentage.mean()].shape

(7148, 4)

In [4]:
df = pd.read_csv("/home/user/New_Buildings_Datasets/Residential/UK-Smart-trials/processed/hourly/UK-smart-trails-1H.csv")
df.set_index("Timestamp", inplace=True)
df

,1,2,3,4,5,6,7,8,9,10,...,16239,16240,16242,16243,16244,16245,16246,16247,16248,16249
Timestamp,,,,,,,,,,,,,,,,,,,,,
2008-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-08 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-09-30 19:00:00,NaN,0.027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.800,...,NaN,0.979,0.932,0.860,0.475,NaN,NaN,NaN,NaN,NaN
2010-09-30 20:00:00,NaN,0.026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.758,...,NaN,0.830,1.207,0.681,0.378,NaN,NaN,NaN,NaN,NaN
2010-09-30 21:00:00,NaN,0.031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.745,...,NaN,0.847,0.678,0.720,0.365,NaN,NaN,NaN,NaN,NaN
2010-09-30 22:00:00,NaN,0.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.602,...,NaN,0.478,0.615,0.546,0.265,NaN,NaN,NaN,NaN,NaN
2010-09-30 23:00:00,NaN,0.028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.299,...,NaN,0.255,0.457,0.211,0.083,NaN,NaN,NaN,NaN,NaN

In [5]:
df.to_parquet("/home/user/New_Buildings_Datasets/Residential/UK-Smart-trials/processed/hourly/UKST-1H.parquet")