In [1]:
import pandas as pd
import os
import glob

In [2]:
# file = 'save_consumption_data_2017_1_v0-1/nax-2017-01-01.csv'

In [3]:
files_list = glob.glob('save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/*.csv')
files_list

['save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-10-28.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-11-04.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-10-14.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-08-05.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-16.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-23.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-11-18.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-02.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-30.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-08.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-10-07.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-09.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-11-11.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-29.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-22.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-08-12.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-01.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-08-26.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-23.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-16.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-11-25.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-15.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-02.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-30.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-08-19.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-09.csv',
 'save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-10-21.csv']

In [4]:
for file in files_list:
    file_name = os.path.basename(file).split('.csv')[0]
    df = pd.read_csv(file)
    df.recorded_timestamp = pd.to_datetime(df['recorded_timestamp'], unit='s')
    df = df.sort_values("recorded_timestamp")
    print(file, f"No. of buildings: {df.bmg_id.unique().shape}")
    df.bmg_id = df.bmg_id.apply(lambda x: x[2:])
    final_df = df.pivot(index='recorded_timestamp', columns='bmg_id', values='energy')
    final_df = final_df.reset_index()
    final_df = final_df.rename_axis(None, axis=1)
    final_df.rename(columns={'recorded_timestamp': 'Timestamp'}, inplace=True)
    final_df.set_index('Timestamp', inplace=True)
    final_df_new = final_df / 1000
    final_df_new.to_csv(f"/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/{file_name}-15min.csv")
    final_df_new_1h = final_df_new.resample('1H').sum(min_count=1)
    final_df_new_1h.to_csv(f"/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/hourly/{file_name}-1H.csv")

save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-10-28.csv No. of buildings: (2956,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-11-04.csv No. of buildings: (2950,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-10-14.csv No. of buildings: (3000,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-08-05.csv No. of buildings: (3012,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-16.csv No. of buildings: (2911,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-23.csv No. of buildings: (2930,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-11-18.csv No. of buildings: (2898,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-02.csv No. of buildings: (3034,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-30.csv No. of buildings: (2885,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-08.csv No. of buildings: (3081,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-10-07.csv No. of buildings: (3007,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-09.csv No. of buildings: (2935,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-11-11.csv No. of buildings: (2921,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-29.csv No. of buildings: (3044,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-22.csv No. of buildings: (3055,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-08-12.csv No. of buildings: (2979,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-01.csv No. of buildings: (3099,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-08-26.csv No. of buildings: (2950,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-23.csv No. of buildings: (2934,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-16.csv No. of buildings: (2967,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-11-25.csv No. of buildings: (2970,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-07-15.csv No. of buildings: (3071,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-02.csv No. of buildings: (2933,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-09-30.csv No. of buildings: (3009,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-08-19.csv No. of buildings: (2973,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-12-09.csv No. of buildings: (2998,)
save_consumption_data_2018_2_v0-1/save_consumption_data_2018_2_v0-1/nax-2018-10-21.csv No. of buildings: (2974,)

In [42]:
os.path.basename(file).split('.csv')[0]

'nax-2017-01-01'

In [5]:
final_df_new_1h

,0000004VC,0000005UC,0000006TC,9000008RC,90004Y2FN,956600025,956600029,956600034,956600047,956600048,...,956663158,956663159,956663176,956663178,956663182,956663185,956663193,956663199,956663200,956663210
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-08-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-22 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-22 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-22 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-22 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-21 19:00:00,5969.998,7170.486,173.077,13987.239,5584.025,1040.451,25845.618,4436.341,NaN,1816.699,...,NaN,31411.788,27674.079,26145.539,NaN,4853.348,39773.490,62456.512,31387.859,28802.495
2018-10-21 20:00:00,5970.751,7174.985,173.256,13988.152,5584.381,1040.889,25846.124,4436.799,NaN,1818.369,...,NaN,31413.134,27675.801,26145.905,NaN,4855.688,39778.456,62462.817,31391.162,28805.690
2018-10-21 21:00:00,5971.274,7190.708,173.408,13989.587,5584.730,1041.453,25846.631,4437.122,NaN,1820.026,...,NaN,31414.343,27677.152,26146.383,NaN,4858.351,39781.509,62465.416,31393.154,28810.995
2018-10-21 22:00:00,5971.658,7205.474,173.452,13990.368,5585.079,1041.865,25847.128,4437.389,NaN,1821.419,...,NaN,31415.157,27677.922,26146.749,NaN,4859.699,39782.858,62467.642,31395.456,28813.029
2018-10-21 23:00:00,5971.974,7208.080,173.467,13991.106,5585.438,1042.161,25847.637,4437.591,NaN,1822.733,...,NaN,31415.543,27678.624,26147.128,NaN,4860.819,39783.635,62468.307,31397.212,28817.685

In [6]:
b_list = []
fil = glob.glob(f"/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/hourly/*.csv")
for each in fil:
    df_new = pd.read_csv(each)
    df_new.set_index('Timestamp', inplace=True)
    print(os.path.basename(each), "No. of buildings: ", df_new.shape[-1])
    b_list.extend(df_new.columns.tolist())

nax-2018-09-09-1H.csv No. of buildings:  2935
nax-2017-10-01-1H.csv No. of buildings:  3469
nax-2018-03-25-1H.csv No. of buildings:  3021
nax-2018-02-25-1H.csv No. of buildings:  3118
nax-2018-09-16-1H.csv No. of buildings:  2911
nax-2018-02-18-1H.csv No. of buildings:  3139
nax-2018-06-03-1H.csv No. of buildings:  3068
nax-2018-08-26-1H.csv No. of buildings:  2950
nax-2017-03-26-1H.csv No. of buildings:  3715
nax-2018-02-11-1H.csv No. of buildings:  3179
nax-2018-11-11-1H.csv No. of buildings:  2921
nax-2018-06-24-1H.csv No. of buildings:  3126
nax-2018-02-04-1H.csv No. of buildings:  3130
nax-2018-12-02-1H.csv No. of buildings:  3034
nax-2018-10-14-1H.csv No. of buildings:  3000
nax-2017-05-28-1H.csv No. of buildings:  3531
nax-2018-09-23-1H.csv No. of buildings:  2934
nax-2017-09-10-1H.csv No. of buildings:  3347
nax-2018-07-22-1H.csv No. of buildings:  3055
nax-2018-05-13-1H.csv No. of buildings:  3039
nax-2018-04-29-1H.csv No. of buildings:  3053
nax-2017-08-20-1H.csv No. of buildings:  3264
nax-2017-11-05-1H.csv No. of buildings:  3352
nax-2018-05-20-1H.csv No. of buildings:  3013
nax-2017-12-17-1H.csv No. of buildings:  3191
nax-2018-08-05-1H.csv No. of buildings:  3012
nax-2017-12-10-1H.csv No. of buildings:  3236
nax-2018-07-15-1H.csv No. of buildings:  3071
nax-2018-12-23-1H.csv No. of buildings:  2930
nax-2017-07-02-1H.csv No. of buildings:  3445
nax-2018-04-15-1H.csv No. of buildings:  3036
nax-2018-11-25-1H.csv No. of buildings:  2970
nax-2018-01-14-1H.csv No. of buildings:  3159
nax-2018-12-30-1H.csv No. of buildings:  2885
nax-2017-12-03-1H.csv No. of buildings:  3262
nax-2017-05-07-1H.csv No. of buildings:  3616
nax-2017-10-15-1H.csv No. of buildings:  3428
nax-2018-06-17-1H.csv No. of buildings:  3133
nax-2018-03-04-1H.csv No. of buildings:  3121
nax-2017-01-29-1H.csv No. of buildings:  3735
nax-2017-05-21-1H.csv No. of buildings:  3546
nax-2018-03-11-1H.csv No. of buildings:  3078
nax-2017-05-14-1H.csv No. of buildings:  3595
nax-2017-08-27-1H.csv No. of buildings:  3273
nax-2017-09-24-1H.csv No. of buildings:  3419
nax-2017-06-25-1H.csv No. of buildings:  3465
nax-2017-10-29-1H.csv No. of buildings:  3392
nax-2017-03-05-1H.csv No. of buildings:  3754
nax-2017-02-19-1H.csv No. of buildings:  3770
nax-2017-08-06-1H.csv No. of buildings:  3323
nax-2017-04-02-1H.csv No. of buildings:  3700
nax-2018-07-29-1H.csv No. of buildings:  3044
nax-2018-05-27-1H.csv No. of buildings:  3027
nax-2017-09-03-1H.csv No. of buildings:  3283
nax-2017-07-30-1H.csv No. of buildings:  3362
nax-2017-10-22-1H.csv No. of buildings:  3400
nax-2018-05-06-1H.csv No. of buildings:  3046
nax-2017-06-04-1H.csv No. of buildings:  3512
nax-2018-11-18-1H.csv No. of buildings:  2898
nax-2018-09-30-1H.csv No. of buildings:  3009
nax-2017-12-24-1H.csv No. of buildings:  3161
nax-2018-10-28-1H.csv No. of buildings:  2956
nax-2017-07-23-1H.csv No. of buildings:  3390
nax-2018-04-22-1H.csv No. of buildings:  3015
nax-2017-02-12-1H.csv No. of buildings:  3760
nax-2018-10-21-1H.csv No. of buildings:  2974
nax-2017-07-16-1H.csv No. of buildings:  3409
nax-2017-03-19-1H.csv No. of buildings:  3754
nax-2017-07-09-1H.csv No. of buildings:  3411
nax-2018-07-01-1H.csv No. of buildings:  3099
nax-2017-11-19-1H.csv No. of buildings:  3283
nax-2017-10-08-1H.csv No. of buildings:  3473
nax-2018-09-02-1H.csv No. of buildings:  2933
nax-2018-08-19-1H.csv No. of buildings:  2973
nax-2018-01-07-1H.csv No. of buildings:  3119
nax-2018-08-12-1H.csv No. of buildings:  2979
nax-2018-07-08-1H.csv No. of buildings:  3081
nax-2017-01-01-1H.csv No. of buildings:  3154
nax-2017-04-30-1H.csv No. of buildings:  3638
nax-2018-11-04-1H.csv No. of buildings:  2950
nax-2017-04-16-1H.csv No. of buildings:  3644
nax-2017-09-17-1H.csv No. of buildings:  3382
nax-2018-10-07-1H.csv No. of buildings:  3007
nax-2017-02-26-1H.csv No. of buildings:  3759
nax-2017-03-12-1H.csv No. of buildings:  3762
nax-2017-08-13-1H.csv No. of buildings:  3301
nax-2017-01-08-1H.csv No. of buildings:  3420
nax-2017-04-23-1H.csv No. of buildings:  3644
nax-2018-04-08-1H.csv No. of buildings:  3025
nax-2018-03-18-1H.csv No. of buildings:  3046
nax-2017-01-22-1H.csv No. of buildings:  3621
nax-2018-12-09-1H.csv No. of buildings:  2998
nax-2017-11-12-1H.csv No. of buildings:  3305
nax-2017-11-26-1H.csv No. of buildings:  3269
nax-2018-04-01-1H.csv No. of buildings:  3036
nax-2017-04-09-1H.csv No. of buildings:  3681
nax-2018-06-10-1H.csv No. of buildings:  3149
nax-2017-01-15-1H.csv No. of buildings:  3559
nax-2018-01-28-1H.csv No. of buildings:  3148
nax-2017-02-05-1H.csv No. of buildings:  3791
nax-2017-06-11-1H.csv No. of buildings:  3504
nax-2017-12-31-1H.csv No. of buildings:  3115
nax-2018-01-21-1H.csv No. of buildings:  3140
nax-2017-06-18-1H.csv No. of buildings:  3484
nax-2018-12-16-1H.csv No. of buildings:  2967

In [7]:
len(set(b_list))

4691

In [9]:
files_list = glob.glob(f"/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/*.csv")
files_list

['/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-08-12-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-08-20-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-10-21-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-04-09-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-03-19-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-10-08-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-08-27-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-07-08-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-10-29-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-05-20-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-12-30-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-01-28-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-02-19-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-06-17-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-09-23-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-10-22-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-10-07-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-06-18-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-11-26-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-07-09-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-04-16-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-02-11-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-09-02-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-04-02-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-12-17-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-01-14-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-08-26-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-04-23-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-09-03-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-11-19-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-10-14-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-06-11-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-12-03-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-05-21-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-09-09-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-11-11-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-09-17-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-12-10-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-08-05-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-06-03-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-07-02-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-03-25-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-03-04-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-07-16-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-03-18-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-04-29-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-03-12-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-11-25-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-07-29-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-10-01-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-10-15-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-07-22-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-05-28-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-07-30-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-05-07-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-04-15-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-04-22-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-09-16-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-12-09-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-06-24-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-03-26-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-04-01-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-08-13-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-11-12-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-01-21-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-12-24-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-09-10-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-09-24-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-02-25-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-08-19-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-01-22-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-03-11-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-01-07-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-11-05-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-05-13-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-07-23-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-05-27-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-07-01-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-03-05-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-05-06-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-01-29-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-05-14-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-07-15-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-09-30-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-01-15-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-11-18-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-02-05-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-12-31-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-12-16-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-12-02-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-08-06-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-02-18-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-04-08-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-02-12-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-06-04-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-01-01-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-06-10-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-04-30-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-06-25-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-12-23-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-02-04-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-10-28-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2018-11-04-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-02-26-15min.csv',
 '/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/Individual files/nax-2017-01-08-15min.csv']

In [10]:
df_list = []
for file in files_list:
    df = pd.read_csv(file)
    df.set_index("Timestamp", inplace=True)
    df.index = pd.to_datetime(df.index)
    df_list.append(df)

In [11]:
final_df = pd.concat(df_list)
final_df

,0000004VC,0000006TC,9000008RC,90004Y2FN,956600029,956600034,956600053,956600056,956600058,956600074,...,956663169,956614210,956617140,956644922,956611759,956621287,956622286,956622589,956623874,956625015
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-06-18 22:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-18 22:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-18 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-18 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-18 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-01-08 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1919.097,1469.515,526.454,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-08 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1919.577,1469.628,526.497,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-08 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1919.714,1469.728,526.540,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-08 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1919.991,1469.819,526.582,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-08 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,1920.092,1469.919,526.626,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
final_df.sort_index(inplace=True)
final_df

,0000004VC,0000006TC,9000008RC,90004Y2FN,956600029,956600034,956600053,956600056,956600058,956600074,...,956663169,956614210,956617140,956644922,956611759,956621287,956622286,956622589,956623874,956625015
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-07-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 22:45:00,1929.774,NaN,3955.108,1588.557,6988.610,1319.334,12965.922,10796.085,4438.702,1313.459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:00:00,1930.111,NaN,3955.205,1588.568,6988.634,1319.349,12966.094,10796.197,4438.756,1313.476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:15:00,1930.139,NaN,3955.281,1588.580,6988.672,1319.365,12966.284,10796.302,4438.814,1313.498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:30:00,1930.156,NaN,3955.352,1588.591,6988.686,1319.377,12966.389,10796.400,4438.868,1313.507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:45:00,1930.173,NaN,3955.432,1588.605,6988.718,1319.385,12966.473,10796.502,4438.915,1313.513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
final_df = final_df.resample('15min').sum(min_count=1)
final_df

,0000004VC,0000006TC,9000008RC,90004Y2FN,956600029,956600034,956600053,956600056,956600058,956600074,...,956663169,956614210,956617140,956644922,956611759,956621287,956622286,956622589,956623874,956625015
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-07-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 22:45:00,1929.774,NaN,3955.108,1588.557,6988.610,1319.334,12965.922,10796.085,4438.702,1313.459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:00:00,1930.111,NaN,3955.205,1588.568,6988.634,1319.349,12966.094,10796.197,4438.756,1313.476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:15:00,1930.139,NaN,3955.281,1588.580,6988.672,1319.365,12966.284,10796.302,4438.814,1313.498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:30:00,1930.156,NaN,3955.352,1588.591,6988.686,1319.377,12966.389,10796.400,4438.868,1313.507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:45:00,1930.173,NaN,3955.432,1588.605,6988.718,1319.385,12966.473,10796.502,4438.915,1313.513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# final_df.sort_index(inplace=True)
# final_df

In [14]:
final_df.to_csv(f"/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/15min/SAVE-15min.csv")

In [15]:
df = pd.read_csv(f"/home/user/New_Buildings_Datasets/New-Bs/SAVE/processed/hourly/SAVE-1H.csv")
df.set_index("Timestamp", inplace=True)
df.index = pd.to_datetime(df.index)
df

,0000004VC,0000005UC,0000006TC,9000008RC,90004Y2FN,956600025,956600029,956600034,956600053,956600056,...,956617140,956644922,956618848,956624573,956648345,956650201,956650313,956661908,956660708,956661531
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-07-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 19:00:00,7707.159,15355.254,NaN,15814.506,6353.516,3433.699,27953.117,5275.711,51857.422,43174.191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 20:00:00,7709.257,15355.926,NaN,15816.448,6353.717,3435.025,27953.521,5276.346,51859.215,43177.651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 21:00:00,7710.967,15356.521,NaN,15818.124,6353.932,3436.332,27953.916,5276.844,51861.280,43180.751,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 22:00:00,7715.671,15357.165,NaN,15819.832,6354.144,3437.859,27954.306,5277.195,51863.020,43183.503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:00:00,7720.579,15357.845,NaN,15821.270,6354.344,3438.967,27954.710,5277.476,51865.240,43185.401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21702 entries, 2016-07-09 18:00:00 to 2018-12-30 23:00:00
Columns: 4691 entries, 0000004VC to 956661531
dtypes: float64(4691)
memory usage: 776.9 MB

In [17]:
gh = {}
for id in df.columns:
    gh[id] = (df[id].isna().sum() / df.shape[0]) * 100
gh

{'0000004VC': 63.27066629803705,
 '0000005UC': 86.63717629711547,
 '0000006TC': 81.59616625195835,
 '9000008RC': 49.682056953276195,
 '90004Y2FN': 48.08312597917242,
 '956600025': 87.22698368813934,
 '956600029': 13.980278315362641,
 '956600034': 49.30421159340153,
 '956600053': 18.717168924523087,
 '956600056': 18.71256105428071,
 '956600058': 31.10312413602433,
 '956600074': 76.49525389365036,
 '956600090': 18.717168924523087,
 '956600091': 83.0384296378214,
 '956600093': 18.625011519675606,
 '956600105': 76.52750898534697,
 '956600146': 18.717168924523087,
 '956600176': 49.28578011243203,
 '956600197': 18.717168924523087,
 '956600200': 18.717168924523087,
 '956600237': 18.717168924523087,
 '956600250': 76.39388074831814,
 '956610335': 18.717168924523087,
 '956610355': 44.889871901207265,
 '956610365': 26.117408533775688,
 '956610383': 29.024974656713663,
 '956610385': 26.241821030319784,
 '956610408': 18.717168924523087,
 '956610449': 18.717168924523087,
 '956610453': 18.717168924523087,
 '956610464': 77.09427702515897,
 '956610467': 20.131785088931895,
 '956610474': 36.079623997788225,
 '956610483': 19.80001843148097,
 '956610494': 19.901391576813197,
 '956610535': 18.717168924523087,
 '956610537': 18.717168924523087,
 '956610551': 19.14109298682149,
 '956610552': 20.569532761957422,
 '956610555': 32.480877338494146,
 '956610558': 18.707953184038338,
 '956610564': 18.380794396829785,
 '956610576': 18.717168924523087,
 '956610603': 18.74481614597733,
 '956610610': 22.343562805271404,
 '956610611': 18.717168924523087,
 '956610631': 46.97723712100267,
 '956610645': 32.56381900285688,
 '956610646': 19.08119067367063,
 '956610647': 18.717168924523087,
 '956610649': 36.56345037323749,
 '956610658': 46.991060731729796,
 '956610682': 80.76214173808866,
 '956610684': 77.27398396461156,
 '956610689': 46.98184499124505,
 '956610692': 18.717168924523087,
 '956610699': 18.717168924523087,
 '956610708': 26.82702055110128,
 '956610710': 18.717168924523087,
 '956610713': 26.071329831351946,
 '956610722': 26.35701778637913,
 '956610724': 77.08045341443184,
 '956610727': 18.717168924523087,
 '956610731': 18.449912450465394,
 '956610741': 89.1438577089669,
 '956610743': 18.717168924523087,
 '956610746': 32.77578103400609,
 '956610747': 18.717168924523087,
 '956610753': 17.039904156298956,
 '956610771': 18.71256105428071,
 '956610782': 24.57837987282278,
 '956610790': 77.1772186895217,
 '956610795': 23.67523730531748,
 '956610800': 25.30642337111787,
 '956610801': 18.717168924523087,
 '956610802': 18.717168924523087,
 '956610838': 18.717168924523087,
 '956610839': 18.717168924523087,
 '956610843': 18.717168924523087,
 '956610874': 18.717168924523087,
 '956610878': 76.96064878813013,
 '956610881': 18.717168924523087,
 '956610897': 26.51368537461985,
 '956610900': 18.717168924523087,
 '956610904': 18.717168924523087,
 '956610927': 20.01198046263017,
 '956610938': 23.573864159985256,
 '956610957': 77.17261081927933,
 '956610959': 26.435351580499493,
 '956610961': 18.717168924523087,
 '956610974': 18.717168924523087,
 '956610979': 37.9596350566768,
 '956610988': 18.717168924523087,
 '956610995': 18.69873744355359,
 '956611025': 22.007188277578106,
 '956611030': 23.1407243572021,
 '956611034': 27.41682794212515,
 '956611036': 31.006358860934473,
 '956611089': 77.29702331582342,
 '956611130': 20.551101280987925,
 '956611167': 18.555893466039997,
 '956611172': 77.07584554418948,
 '956611175': 29.52723251313243,
 '956611181': 17.532946272232973,
 '956611187': 18.717168924523087,
 '956611192': 19.090406414155378,
 '956611200': 18.71256105428071,
 '956611247': 18.717168924523087,
 '956611256': 25.06220624827205,
 '956611257': 18.717168924523087,
 '956611258': 25.52760114275182,
 '956611267': 41.162104875126715,
 '956611291': 18.717168924523087,
 '956611298': 20.021196203114922,
 '956611300': 20.016588332872544,
 '956611315': 18.717168924523087,
 '956611316': 20.546493410745555,
 '956611330': 48.313519491291125,
 '956611349': 28.52732467053728,
 '956611380': 18.717168924523087,
 '956611384': 18.717168924523087,
 '956611471': 77.37535710994379,
 '956611545': 18.717168924523087,
 '956611551': 18.717168924523087,
 '956611563': 20.781494793106624,
 '956611564': 18.717168924523087,
 '956611565': 18.717168924523087,
 '956611573': 20.786102663349002,
 '956611579': 18.717168924523087,
 '956611583': 19.98433324117593,
 '956611595': 88.63699198230577,
 '956611600': 18.717168924523087,
 '956611615': 21.66620587964243,
 '956611616': 34.21804441986914,
 '956611637': 19.647958713482627,
 '956611647': 29.822136208644363,
 '956611659': 31.831167634319417,
 '956611660': 18.717168924523087,
 '956611667': 53.68168832365681,
 '956611694': 18.717168924523087,
 '956611708': 18.717168924523087,
 '956611715': 18.717168924523087,
 '956611729': 18.717168924523087,
 '956611731': 18.717168924523087,
 '956611736': 22.33895493502903,
 '956611748': 18.717168924523087,
 '956611750': 17.012256934844714,
 '956611751': 18.717168924523087,
 '956611762': 18.71256105428071,
 '956611765': 20.19629527232513,
 '956611771': 48.93097410376924,
 '956611795': 19.251681872638464,
 '956611798': 18.717168924523087,
 '956611803': 24.269652566583723,
 '956611808': 18.717168924523087,
 '956611828': 19.896783706570822,
 '956611842': 18.717168924523087,
 '956611844': 22.357386415998526,
 '956611846': 24.629066445488895,
 '956611866': 18.717168924523087,
 '956611889': 17.339415722053268,
 '956611902': 24.850244217122846,
 '956611918': 18.730992535250206,
 '956611920': 31.462538014929496,
 '956611922': 18.717168924523087,
 '956611924': 18.717168924523087,
 '956611926': 30.287531103124138,
 '956611964': 52.01363929591742,
 '956611974': 24.168279421251498,
 '956611975': 18.717168924523087,
 '956611993': 18.717168924523087,
 '956611998': 18.71256105428071,
 '956612029': 18.717168924523087,
 '956612039': 18.717168924523087,
 '956612041': 18.3070684729518,
 '956612042': 19.90599944705557,
 '956612053': 19.647958713482627,
 '956612064': 18.717168924523087,
 '956612068': 22.375817896968023,
 '956612075': 20.025804073357296,
 '956612093': 28.061929776057504,
 '956612105': 18.717168924523087,
 '956612123': 30.573219058151324,
 '956612128': 14.210671827481338,
 '956612130': 21.546401253340704,
 '956612134': 19.901391576813197,
 '956612159': 45.880564003317666,
 '956612169': 18.237950419316192,
 '956612172': 18.717168924523087,
 '956612174': 19.993548981660677,
 '956612180': 19.283936964335087,
 '956612188': 20.472767486867568,
 '956612189': 18.717168924523087,
 '956612194': 18.717168924523087,
 '956612195': 19.869136485116577,
 '956612196': 18.717168924523087,
 '956612207': 18.717168924523087,
 '956612231': 82.70666298037047,
 '956612233': 18.717168924523087,
 '956612245': 18.717168924523087,
 '956612290': 20.1133536079624,
 '956612306': 47.097041747304395,
 '956612343': 18.717168924523087,
 '956612360': 18.717168924523087,
 '956612379': 18.717168924523087,
 '956612409': 18.717168924523087,
 '956612413': 18.717168924523087,
 '956612446': 18.749424016219702,
 '956612452': 18.717168924523087,
 '956612454': 18.717168924523087,
 '956612457': 24.200534512948117,
 '956612467': 18.717168924523087,
 '956612470': 18.717168924523087,
 '956612488': 18.717168924523087,
 '956612495': 24.555340521610912,
 '956612502': 18.717168924523087,
 '956612504': 77.07584554418948,
 '956612506': 18.703345313795964,
 '956612526': 16.118330107824164,
 '956612532': 23.090037784535987,
 '956612535': 18.71256105428071,
 '956612543': 40.29582526956041,
 '956612554': 24.31112339876509,
 '956612561': 30.425767210395353,
 '956612568': 18.551285595797623,
 '956612569': 18.717168924523087,
 '956612575': 18.717168924523087,
 '956612576': 18.717168924523087,
 '956612580': 27.59192701133536,
 '956612581': 20.260805455718366,
 '956612584': 18.717168924523087,
 '956612599': 20.753847571652383,
 '956612606': 18.82775781034006,
 '956612607': 18.717168924523087,
 '956612615': 18.717168924523087,
 '956612631': 18.717168924523087,
 '956612632': 18.717168924523087,
 '956612633': 27.674868675698093,
 '956612636': 18.717168924523087,
 '956612639': 18.717168924523087,
 '956612659': 21.730716063035665,
 '956612663': 21.72610819279329,
 '956612698': 19.85531287438946,
 '956612719': 18.717168924523087,
 '956612731': 21.177771633950787,
 '956612734': 18.717168924523087,
 '956612740': 18.717168924523087,
 '956612752': 18.717168924523087,
 '956612763': 18.71256105428071,
 '956612784': 18.717168924523087,
 '956612789': 18.717168924523087,
 '956612790': 18.717168924523087,
 '956612807': 18.555893466039997,
 '956612815': 18.717168924523087,
 '956612841': 20.77688692286425,
 '956612893': 18.717168924523087,
 '956612897': 18.717168924523087,
 '956612916': 17.73569256289743,
 '956612921': 20.873652197954108,
 '956612948': 18.717168924523087,
 '956612968': 18.717168924523087,
 '956612973': 18.717168924523087,
 '956612975': 18.730992535250206,
 '956612980': 18.717168924523087,
 '956613037': 18.717168924523087,
 '956613041': 18.717168924523087,
 '956613051': 18.717168924523087,
 '956613055': 18.717168924523087,
 '956613056': 18.717168924523087,
 '956613132': 18.717168924523087,
 '956613135': 18.717168924523087,
 '956613147': 18.72177679476546,
 '956613148': 20.786102663349002,
 '956613174': 18.717168924523087,
 '956613178': 23.196018800110586,
 '956613218': 18.717168924523087,
 '956613254': 23.214450281080083,
 '956613286': 51.48373421804442,
 '956613299': 18.717168924523087,
 '956613314': 18.717168924523087,
 '956613337': 22.633858630540963,
 '956613364': 18.717168924523087,
 '956613376': 20.786102663349002,
 '956613379': 18.717168924523087,
 '956613383': 15.040088471108653,
 '956613384': 33.10754769145701,
 '956613393': 18.717168924523087,
 '956613401': 18.717168924523087,
 '956613411': 18.717168924523087,
 '956613422': 18.717168924523087,
 '956613427': 19.412957331121554,
 '956613432': 18.72177679476546,
 '956613449': 18.717168924523087,
 '956613460': 20.87826006819648,
 '956613469': 18.763247626946825,
 '956613470': 18.717168924523087,
 '956613476': 34.181181457930144,
 '956613485': 23.200626670352964,
 '956613498': 18.717168924523087,
 '956613535': 19.80001843148097,
 '956613565': 47.967929223113074,
 '956613566': 18.938346696157033,
 '956613571': 18.717168924523087,
 '956613577': 18.717168924523087,
 '956613590': 18.717168924523087,
 '956613605': 18.717168924523087,
 '956613619': 28.679384388535617,
 '956613651': 18.717168924523087,
 '956613712': 77.48133812551839,
 '956613719': 18.717168924523087,
 '956613724': 18.717168924523087,
 '956613741': 77.19104230024882,
 '956613743': 22.62003501981384,
 '956613773': 77.1587872085522,
 '956613788': 19.91521518754032,
 '956613793': 20.477375357109945,
 '956613814': 46.88507971615519,
 '956613815': 18.717168924523087,
 '956613839': 18.71256105428071,
 '956613847': 20.26541332596074,
 '956613851': 49.400976868491384,
 '956613874': 18.717168924523087,
 '956613875': 31.854206985531285,
 '956613881': 18.71256105428071,
 '956613895': 21.546401253340704,
 '956613900': 18.717168924523087,
 '956613915': 25.338678462814485,
 '956613979': 18.717168924523087,
 '956613983': 26.260252511289284,
 '956613998': 19.910607317297945,
 '956614010': 21.88738365127638,
 '956614026': 18.717168924523087,
 '956614039': 18.707953184038338,
 '956614042': 19.99815685190305,
 '956614061': 18.717168924523087,
 '956614062': 18.71256105428071,
 '956614096': 18.938346696157033,
 '956614129': 18.717168924523087,
 '956614146': 18.717168924523087,
 '956614151': 18.717168924523087,
 '956614153': 18.717168924523087,
 '956614176': 18.717168924523087,
 '956614191': 82.60528983503825,
 '956614196': 18.72177679476546,
 '956614216': 47.6453783061469,
 '956614269': 20.647866556077783,
 '956614274': 25.675052990507787,
 '956614321': 27.568887660123494,
 '956614357': 18.984425398580775,
 '956614359': 18.717168924523087,
 '956614363': 23.113077135747858,
 '956614384': 21.431204497281357,
 '956614400': 32.02469818449912,
 '956614403': 46.99566860197217,
 '956614405': 21.64316652843056,
 '956614407': 18.717168924523087,
 '956614430': 18.717168924523087,
 '956614455': 18.717168924523087,
 '956614471': 18.717168924523087,
 '956614482': 18.717168924523087,
 '956614492': 18.72177679476546,
 '956614515': 18.717168924523087,
 '956614516': 18.717168924523087,
 '956614517': 18.717168924523087,
 '956614521': 19.90599944705557,
 '956614529': 18.717168924523087,
 '956614572': 51.0091235830799,
 '956614606': 20.45894387614045,
 '956614646': 27.730163118606583,
 '956614647': 21.279144779283016,
 '956614697': 28.918993641139068,
 '956614700': 18.717168924523087,
 '956614703': 26.923785826191132,
 '956614768': 19.016680490277395,
 '956614800': 20.924338770620217,
 '956614808': 48.59920744631831,
 '956614811': 18.717168924523087,
 '956614817': 21.03031978619482,
 '956614854': 18.717168924523087,
 '956614969': 19.795410561238597,
 '956615005': 18.717168924523087,
 '956615022': 18.717168924523087,
 '956615040': 18.717168924523087,
 '956615047': 46.98184499124505,
 '956615070': 18.717168924523087,
 '956615078': 80.43498295088011,
 '956615082': 20.099529997235276,
 '956615094': 20.25158971523362,
 '956615104': 19.15030872730624,
 '956615114': 37.618652658741134,
 '956615117': 18.717168924523087,
 '956615129': 18.717168924523087,
 '956615180': 18.717168924523087,
 '956615183': 19.892175836328448,
 '956615227': 18.707953184038338,
 '956615241': 18.717168924523087,
 '956615247': 17.49147544005161,
 '956615258': 18.717168924523087,
 '956615259': 47.88037968850797,
 '956615267': 19.66178232420975,
 '956615272': 19.067367062943507,
 '956615273': 59.03142567505299,
 '956615282': 23.66141369459036,
 '956615315': 79.89125426227997,
 '956615318': 20.569532761957422,
 '956615332': 18.717168924523087,
 '956615357': 20.786102663349002,
 '956615436': 18.717168924523087,
 '956615446': 18.717168924523087,
 '956615457': 18.717168924523087,
 '956615513': 18.717168924523087,
 '956615520': 54.99493134273339,
 '956615532': 18.380794396829785,
 '956615533': 19.118053635609623,
 '956615540': 21.057967007649065,
 '956615556': 18.717168924523087,
 '956615569': 20.094922126992902,
 '956615620': 18.71256105428071,
 '956615621': 18.717168924523087,
 '956615647': 18.717168924523087,
 '956615649': 77.07584554418948,
 '956615650': 18.717168924523087,
 '956615664': 20.025804073357296,
 '956615667': 18.717168924523087,
 '956615672': 21.569440604552575,
 '956615675': 18.717168924523087,
 '956615702': 18.717168924523087,
 '956615712': 28.62408994562713,
 '956615733': 19.993548981660677,
 '956615735': 30.163118606580035,
 '956615754': 22.348170675513778,
 '956615758': 18.717168924523087,
 '956615800': 18.717168924523087,
 '956615809': 77.1956501704912,
 '956615814': 18.717168924523087,
 '956615826': 18.717168924523087,
 '956615834': 47.85273246705373,
 '956615835': 20.813749884803244,
 '956615838': 18.717168924523087,
 '956615840': 18.717168924523087,
 '956615856': 19.87835222560133,
 '956615896': 18.717168924523087,
 '956615908': 27.17261081927933,
 '956615911': 18.717168924523087,
 '956615915': 18.717168924523087,
 '956615916': 47.548613031057045,
 '956615923': 18.873836512763802,
 '956615933': 21.210026725647406,
 '956615946': 18.717168924523087,
 '956615960': 47.097041747304395,
 '956616000': 18.717168924523087,
 '956616030': 20.154824440143766,
 '956616038': 20.039627684084415,
 '956616064': 18.717168924523087,
 '956616083': 44.56271311399871,
 '956616115': 18.717168924523087,
 '956616118': 18.717168924523087,
 '956616126': 55.65846465763524,
 '956616130': 18.717168924523087,
 '956616164': 49.44705557091512,
 '956616201': 43.15270481983227,
 '956616214': 21.845912819095016,
 '956616238': 47.09243387706202,
 '956616264': 51.75559856234449,
 '956616269': 18.7678554971892,
 '956616273': 18.717168924523087,
 '956616286': 18.71256105428071,
 '956616304': 18.717168924523087,
 '956616320': 18.717168924523087,
 '956616321': 20.099529997235276,
 '956616346': 18.717168924523087,
 '956616358': 18.717168924523087,
 '956616397': 20.256197585475995,
 '956616400': 20.1133536079624,
 '956616410': 18.717168924523087,
 '956616447': 18.717168924523087,
 '956616455': 43.67800202746291,
 '956616459': 77.18643443000646,
 '956616492': 25.86397567044512,
 '956616507': 77.06202193346236,
 '956616546': 47.09243387706202,
 '956616564': 47.88037968850797,
 '956616566': 18.717168924523087,
 '956616597': 20.260805455718366,
 '956616601': 20.652474426320154,
 '956616615': 46.917334807851816,
 '956616663': 48.48861856050134,
 '956616702': 18.717168924523087,
 '956616708': 18.717168924523087,
 '956616714': 18.717168924523087,
 '956616739': 47.18919915215187,
 '956616743': 20.099529997235276,
 '956616758': 19.795410561238597,
 '956616761': 19.988941111418303,
 '956616803': 77.05741406321998,
 '956616814': 46.991060731729796,
 '956616819': 38.715325776426134,
 '956616823': 19.970509630448806,
 '956616826': 18.717168924523087,
 '956616861': 19.21942678094185,
 '956616925': 47.85273246705373,
 '956616942': 41.678186342272596,
 '956616954': 18.717168924523087,
 '956616959': 19.11344576536725,
 '956616974': 18.717168924523087,
 '956616975': 18.717168924523087,
 '956616983': 20.016588332872544,
 '956616989': 18.717168924523087,
 '956616996': 46.88047184591282,
 '956617016': 18.717168924523087,
 '956617019': 19.910607317297945,
 '956617065': 18.717168924523087,
 '956617085': 18.717168924523087,
 '956617117': 47.10164961754677,
 '956617149': 18.71256105428071,
 '956617153': 23.196018800110586,
 '956617170': 18.717168924523087,
 '956617183': 19.65717445396738,
 '956617251': 18.717168924523087,
 '956617290': 34.92304856695235,
 '956617312': 18.717168924523087,
 '956617314': 47.000276472214544,
 '956617332': 18.717168924523087,
 '956617385': 18.717168924523087,
 '956617398': 47.19841489263663,
 '956617442': 18.717168924523087,
 '956617476': 18.717168924523087,
 '956617491': 50.9031425675053,
 '956617587': 20.283844806930237,
 '956617616': 18.717168924523087,
 '956617662': 18.717168924523087,
 '956617663': 18.717168924523087,
 '956617674': 18.583540687494242,
 '956617712': 18.717168924523087,
 '956617733': 18.717168924523087,
 '956617737': 19.892175836328448,
 '956617774': 18.717168924523087,
 '956617793': 22.49101465302737,
 '956617805': 77.06202193346236,
 '956617815': 18.717168924523087,
 '956617836': 19.79080269099622,
 '956617840': 20.951985992074462,
 '956617842': 26.762510367708046,
 '956617849': 23.375725739563176,
 '956617870': 18.717168924523087,
 '956617872': 18.717168924523087,
 '956617877': 33.04303750806377,
 '956617924': 46.871256105428074,
 '956617960': 19.91521518754032,
 '956618022': 18.717168924523087,
 '956618024': 18.717168924523087,
 '956618030': 18.717168924523087,
 '956618047': 18.569717076767116,
 '956618048': 47.84812459681135,
 '956618084': 21.44502810800848,
 '956618124': 27.015943231038612,
 '956618146': 20.002764722145425,
 '956618189': 19.214818910699474,
 '956618200': 77.55967191963875,
 '956618201': 18.717168924523087,
 '956618214': 13.869689429545664,
 '956618231': 19.59266427057414,
 '956618232': 36.43443000645102,
 '956618240': 21.186987374435535,
 '956618269': 18.717168924523087,
 '956618285': 18.71256105428071,
 '956618289': 19.804626301723342,
 '956618301': 20.56492489171505,
 '956618308': 18.717168924523087,
 '956618312': 47.106257487789144,
 '956618317': 35.69717076767118,
 '956618325': 21.578656345037324,
 '956618338': 64.55626209565939,
 '956618354': 18.717168924523087,
 '956618376': 46.87586397567045,
 '956618395': 18.717168924523087,
 '956618396': 47.769790802691,
 '956618409': 18.717168924523087,
 '956618444': 18.717168924523087,
 '956618445': 18.717168924523087,
 '956618460': 18.717168924523087,
 '956618476': 18.717168924523087,
 '956618477': 49.39636899824901,
 '956618480': 23.002488249930884,
 '956618495': 18.717168924523087,
 '956618497': 77.06202193346236,
 '956618501': 18.730992535250206,
 '956618509': 19.79080269099622,
 '956618523': 47.63616256566215,
 '956618537': 18.717168924523087,
 '956618551': 21.4588517187356,
 '956618561': 46.88047184591282,
 '956618573': 47.769790802691,

In [18]:
missing_df = pd.DataFrame(gh.items(), columns=['Buildings', 'Percentage'])
missing_df

      Buildings  Percentage
0     0000004VC   63.270666
1     0000005UC   86.637176
2     0000006TC   81.596166
3     9000008RC   49.682057
4     90004Y2FN   48.083126
...         ...         ...
4686  956650201   99.958529
4687  956650313   99.995392
4688  956661908   98.460971
4689  956660708   92.926919
4690  956661531   99.995392

[4691 rows x 2 columns]

In [19]:
missing_df['Missing values'] = missing_df['Buildings'].apply(lambda x: df[x].isna().sum())
missing_df

      Buildings  Percentage  Missing values
0     0000004VC   63.270666           13731
1     0000005UC   86.637176           18802
2     0000006TC   81.596166           17708
3     9000008RC   49.682057           10782
4     90004Y2FN   48.083126           10435
...         ...         ...             ...
4686  956650201   99.958529           21693
4687  956650313   99.995392           21701
4688  956661908   98.460971           21368
4689  956660708   92.926919           20167
4690  956661531   99.995392           21701

[4691 rows x 3 columns]

In [20]:
missing_df['Total values'] = [len(df)] * len(missing_df)
missing_df

      Buildings  Percentage  Missing values  Total values
0     0000004VC   63.270666           13731         21702
1     0000005UC   86.637176           18802         21702
2     0000006TC   81.596166           17708         21702
3     9000008RC   49.682057           10782         21702
4     90004Y2FN   48.083126           10435         21702
...         ...         ...             ...           ...
4686  956650201   99.958529           21693         21702
4687  956650313   99.995392           21701         21702
4688  956661908   98.460971           21368         21702
4689  956660708   92.926919           20167         21702
4690  956661531   99.995392           21701         21702

[4691 rows x 4 columns]

In [21]:
missing_df.to_csv('missing_values.csv', index=False)

In [22]:
missing_df.Percentage.mean()

41.142919003974896

In [23]:
missing_df[missing_df.Percentage > missing_df.Percentage.mean()].shape

(1833, 4)

In [4]:
df = pd.read_csv(f"/home/user/New_Buildings_Datasets/Residential/SAVE/processed/hourly/SAVE-1H.csv")
df.set_index("Timestamp", inplace=True)
df

,0000004VC,0000005UC,0000006TC,9000008RC,90004Y2FN,956600025,956600029,956600034,956600053,956600056,...,956617140,956644922,956618848,956624573,956648345,956650201,956650313,956661908,956660708,956661531
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-07-09 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-09 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 19:00:00,7707.159,15355.254,NaN,15814.506,6353.516,3433.699,27953.117,5275.711,51857.422,43174.191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 20:00:00,7709.257,15355.926,NaN,15816.448,6353.717,3435.025,27953.521,5276.346,51859.215,43177.651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 21:00:00,7710.967,15356.521,NaN,15818.124,6353.932,3436.332,27953.916,5276.844,51861.280,43180.751,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 22:00:00,7715.671,15357.165,NaN,15819.832,6354.144,3437.859,27954.306,5277.195,51863.020,43183.503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-30 23:00:00,7720.579,15357.845,NaN,15821.270,6354.344,3438.967,27954.710,5277.476,51865.240,43185.401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.to_parquet(f"/home/user/New_Buildings_Datasets/Residential/SAVE/processed/hourly/SAVE-1H.parquet")